<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="home"></ion-icon>
        <ion-label>Dashboard</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="invitecode">
        <ion-icon name="rocket-outline"></ion-icon>
        <ion-label>InviteCode</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="members">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Members</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="setting">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Setting</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
