<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar  style="--background:transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true" class="background-image">
  <div class="center">
      <ion-item>
        <ion-label position="stacked">
          ENTER THE CODE
        </ion-label>
        <ion-input [(ngModel)]="invitecode"></ion-input>
      </ion-item>
      <ion-button expand="full" style="font-size: 15px;--background:#ffc400;color:black;font-weight: bold;" size="large" (click)="enterPrize(invitecode)">
        Enter
      </ion-button>
  </div>
</ion-content>
