.center {
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgba(0, 0, 0, 0.63);
    transform: translate(-50%, -50%);
    // border: 5px solid #FFFF00;
    padding: 50px;
    max-width: 500px;

    ion-title{
        text-align: center;
        font-weight: bold;
        font-size: 23px;
    }
    ion-textarea{
        text-align: center;
        font-size : 15px
    }
}

// #sample{
//     width: 400px;
//     height: 400px;
//     overflow: hidden;
//     position: relative;
//     border: 1px solid black;
// }
// #sample img {
//     position: absolute;
//     bottom: -200px;
//   }